* {
  margin: 0px;
}

.header:nth-of-type(2) {
  width: 5% !important;
}

.header:nth-of-type(3) {
  width: 5% !important;
}

.header:nth-of-type(4) {
  width: 7% !important;
}

.header:nth-of-type(5) {
  width: 5% !important;
}

.cell {
  padding: 0 2px;
  white-space: unset;
  text-overflow: unset;
}

#detail_container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  gap: 2px;
  margin: 2px;
}

#trove_output {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2px;
  margin-bottom: 16px;
}

#trove_output > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#trove_output > div:nth-child(even) {
  background-color: rgb(230, 230, 230);
}
